
.bd-grey{border-radius: 10px;}
.bd-grey{border: 1px solid #DDD;}


.scroll-y{overflow-y: scroll;}

.material-icons-sm{width: 40px;  }


.mgt-f8{margin-top: -8px;}


.h-max-580{max-height: 580px;}
.h-min-450{min-height: 450px;}

.card .card-content.pd-10{padding: 10px;}


.footable tr.active{border-left: 5px solid grey;background: #CCCCCC;}
.footable tr.active a{font-weight: bold;}



/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
	width: 8px;
	height: 16px;
	background-color: #F5F5F5;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 8px;
	background-color: #F5F5F5;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #AAAAAA;
}